<app-nav></app-nav>

<div class="container">
  <router-outlet></router-outlet>


  <footer>

       <div class="footer" style="background-color: black; margin-top: 20px; margin: 0 auto; max-width: 100%; text-align: center">

         <div id="copyright"  style="color:white">

          © Copyright 2021 - NFeSJP - Todos os direitos reservados. suporte@nfesjp.online<br>
          Dominio registrado em <a href="http://hostinger.com.br">hostinger.com.br</a> <br>

         </div>

       </div>

</footer>
</div>
