<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome usuario</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody></tbody>

</table>



<div class="row">

  <div class="col-md-12">
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4>
          <fa-icon [icon]="faHandPointLeft"></fa-icon> Cadastrar Usuario
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form [formGroup]="UserForm">

          <div class="form-row">

            <div class="form-group col-md-12">
              <label for="user">Nome Conpleto</label>

              <input type="text" formControlName="nome" required name="nome" minlength="10" [ngClass]="{'is-invalid': form.nome.errors}"
                class="form-control" placeholder="Informe o seu nome">

              <div class="invalid-feedback">
                <span>* Informe seu Nome completo, mínimo 10 caracteres</span>
              </div>

            </div>

            <div class="form-group col-md-12">
              <label for="user">E-mail</label>

              <input type="email" class="form-control" required formControlName="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                [ngClass]="{'is-invalid': form.email.errors}" placeholder="Informe o seu e-mail">

              <div class="invalid-feedback">
                <span *ngIf="form.email.errors?.required">* Informe o email</span>
                <span *ngIf="form.email.errors?.pattern">* O email informado é invalido !</span>
              </div>

            </div>

            <div class="form-group col-md-6">
              <label for="senha">Senha</label>

              <input type="password" class="form-control" required formControlName="password" name="senha"
                [ngClass]="{'is-invalid': form.password.errors}" placeholder="Informe a senha">

              <div class="invalid-feedback">
                <span>* Informe a Senha.</span>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="Confirma_senha">Confirma Senha</label>
              <input type="password" class="form-control" name="senha" placeholder="Informe Novamente a senha">
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="save_user()" [disabled]="!UserForm.valid">Salvar</button>
      </div>
    </ng-template>

    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Cadastrar usuario</button>

  </div>

</div>
